# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# custom
data/Welding/*
!data/Welding/test_idx.npy
!data/Welding/val_idx.npy
!data/Welding/preprocess_data.py
model_checkpoints/*
lightning_logs/*
logs/*
.vscode/*
oodprediction/*
*.ckpt
artifacts
venv/*
venv
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
mlruns/*